/* Colors
-----------------------------------------------------------------------------*/
/*===========================================================================*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif; }

body {
  background-color: #212121;
  height: 100%; }

.Article h1 {
  color: #3ee7ad;
  font-weight: normal;
  font-size: 28px; }

.Article p {
  color: #f7f8f9; }
