/* Colors
-----------------------------------------------------------------------------*/
$bg-color: #354854;
$white-color: #F7F8F9;
$active-color: #d6d7d8;
$green-color: #63CEC2;
$red-color: #ed4d0a;
/*===========================================================================*/

/* General
-----------------------------------------------------------------------------*/
* {
   margin: 0;
   padding: 0;
   font-family: 'Lato', sans-serif;
}

body {
   background-color: $bg-color;
   font-family: 'Lato', sans-serif;
}

.submit-btn {
   transition: all 0.5s;
   color: $white-color;
   border: none;
   width: 260px;
   height: 50px;
   padding: 10px;
   font-size: 20px;
   cursor: pointer;
}

.submit-btn span {
   position: relative;
   transition: 0.5s;
}

.submit-btn span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: -2px;
   right: -20px;
   transition: 0.5s;
}

.submit-btn:hover span {
   padding-right: 15px;
}

.submit-btn:hover span:after {
   opacity: 1;
   right: 0;
}


.back-btn {
   position: absolute;
   left: 10;
   top: 0;
   color: $white-color;
   cursor: pointer;
}

.loading-animation-wrapper {
   position: absolute;
   width: 700px;
   height: 400px;
}

.loading-animation {
   position: relative;
   width: 40px;
   height: 40px;
   top: 180px;
   left: 330px;
}

.loading-animation img {
   width: 40px;
}
/*===========================================================================*/

/* Login
-----------------------------------------------------------------------------*/
.Login {
   font-family: 'Lato', sans-serif;
}

.login-area {
   width: 260px;
   height: 270px;
   position: absolute;
   margin: -180px 0 0 -131px;
   left: 50%;
   top: 50%;
   text-align: center;
}

.login-area input {
   border: none;
   font-family: 'Lato', sans-serif;
   display: block;
   padding: 10px;
   margin-bottom: 10px;
   height: 50px;
   width: 260px;
   font-size: 20px;
}

.login-area img {
   width: 260px;
   margin-bottom: 10px;
}

.login-links a {
   color: $green-color;
}

#login-reg-submit-btn {
   background-color: $green-color;
   color: $white-color;
   border: none;
   width: 260px;
   height: 50px;
   padding: 10px;
   font-size: 20px;
   margin-bottom: 10px;
}

/*===========================================================================*/

/* Register
-----------------------------------------------------------------------------*/
.Register {
   font-family: 'Lato', sans-serif;
}

.register-area {
   width: 260px;
   height: 540px;
   position: absolute;
   margin: -250px 0 0 -131px;
   left: 50%;
   top: 50%;
   text-align: center;
}

.register-area input {
   border: none;
   font-family: 'Lato', sans-serif;
   width: 200px;
   display: block;
   padding: 5px;
   margin-bottom: 10px;
   height: 50px;
   width: 260px;
   font-size: 20px;
}

.register-area img {
   width: 260px;
   margin-bottom: 10px;
}

.register-password-tt {
   position: absolute;
   left: 222px;
   top: 424px;
}

.register-password-tt img {
   width: 30px;
   color: white;
   background-color: white;
}
/*===========================================================================*/

/* Stock
-----------------------------------------------------------------------------*/
.stock-titles {
   margin-top: 20px;
   margin-left: 70px;
}

.Stock h1 {
   font-family: 'Lato', sans-serif;
   font-size: 30px;
   font-weight: 800;
   color: $white-color;
   display: inline-block;
   // background-color: red;
}

.stock-watchlist {
   color: $white-color;
   display: inline-block
}

.stock-watchlist svg {
   position: relative;
   top: 2px;
   left: 4px;
}

.Stock h2 {
   font-family: 'Lato', sans-serif;
   font-size: 24px;
   font-weight: 600;
   color: $green-color;
}

.stock-chart {
   height: 400px;
}

.stock-shares-owned {
   color: $white-color;
   margin: 10px;
   font-size: 20px;
   float: left;
}

.stock-chart-time-select button {
   padding: 5px;
   background-color: $white-color;
   border: none;
   cursor: pointer;
}

.stock-chart-time-select button:hover {
   background-color: $active-color;
}

.stock-buy-sell-btns {
   color: $white-color;
   font-size: 20px;
   clear: both;
}

.stock-buy-sell-btns {
   width: 562px;
   margin: 0 auto;
}

.stock-btn {
   color: $white-color;
   border: none;
   width: 179px;
   height: 50px;
   padding: 10px;
   font-size: 20px;
   cursor: pointer;
   margin-bottom: 10px;
}

.stock-btn:active {
   color: $active-color;
}

#stock-buy-btn {
   background-color: $green-color;
}

#stock-sell-btn {
   background-color: $red-color;
}

.stock-search {
   position: absolute;
   right: 0px;
   top: 0;
}

#stock-search-input {
   margin: 20px;
   padding: 5px 10px;
   font-size: 14px;
   width: 150px;
   border: none;
}

.stock-transaction-area {
   position: absolute;
   left: 800px;
   top: 30px;
   width: 179px;
}

#transactionAmount {
   margin-bottom: 10px;
   font-size: 16px;
   padding: 5px;
   border: none;
}

.trans-modal {
   background-color: $white-color;
}

.trans-modal-content {
   margin: 50px;
}

.trans-modal-content input {
   display: block;
   font-size: 20px;
   padding: 5px;
   width: 210px;
   margin-bottom: 10px;
}

.trans-modal-content button {
   color: $white-color;
   border: none;
   width: 210px;
   height: 50px;
   padding: 10px;
   font-size: 20px;
}
/*===========================================================================*/

/* Portfolio
-----------------------------------------------------------------------------*/
.Portfolio h1 {
   font-family: 'Lato', sans-serif;
   color: $white-color;
}

.Portfolio h2 {
   font-family: 'Lato', sans-serif;
   color: $green-color;
}

.portfolio-content h1 {
   display: block;
   clear: both;
   padding: 0 10px;
}

.portfolio-holding {
   margin-left: 30px;
}

.portfolio-holding-title {
   display: inline-block;
   font-size: 34px;
   color: $green-color;
   width: 150px;
}

.portfolio-holding-title a {
   color: $green-color;
   text-decoration: none;
}

.portfolio-holding-amount {
   display: inline-block;
   font-size: 34px;
   color: $white-color;
}
/*===========================================================================*/

/* Graph
-----------------------------------------------------------------------------*/
.Graph {
   width: 700px;
   margin-top: 20px;
   margin-left: 70px;
}

.stock-chart-time-select button {
   font-family: 'Lato', sans-serif;
   font-weight: 300;
   background-color: $bg-color;
   color: $white-color;
   text-decoration: underline;
}

.stock-chart-time-select button:hover {
   background-color: $green-color;
}
/*===========================================================================*/

/* CreatePortfolio
-----------------------------------------------------------------------------*/
#create-portfolio-btn {
   background-color: $green-color;
   margin: 0px;
}

#create-portfolio-area {
   position: absolute;
   width: 262px;
   height: 52px;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
}

#create-portfolio-area input {
   border: none;
   font-family: 'Lato', sans-serif;
   width: 200px;
   display: block;
   padding: 5px;
   margin-bottom: 10px;
   height: 50px;
   width: 260px;
   font-size: 20px;
}
/*===========================================================================*/
