/* Colors
-----------------------------------------------------------------------------*/
/*===========================================================================*/
/* General
-----------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

body {
  background-color: #354854;
  font-family: 'Lato', sans-serif; }

.submit-btn {
  transition: all 0.5s;
  color: #F7F8F9;
  border: none;
  width: 260px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer; }

.submit-btn span {
  position: relative;
  transition: 0.5s; }

.submit-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: -2px;
  right: -20px;
  transition: 0.5s; }

.submit-btn:hover span {
  padding-right: 15px; }

.submit-btn:hover span:after {
  opacity: 1;
  right: 0; }

.back-btn {
  position: absolute;
  left: 10;
  top: 0;
  color: #F7F8F9;
  cursor: pointer; }

.loading-animation-wrapper {
  position: absolute;
  width: 700px;
  height: 400px; }

.loading-animation {
  position: relative;
  width: 40px;
  height: 40px;
  top: 180px;
  left: 330px; }

.loading-animation img {
  width: 40px; }

/*===========================================================================*/
/* Login
-----------------------------------------------------------------------------*/
.Login {
  font-family: 'Lato', sans-serif; }

.login-area {
  width: 260px;
  height: 270px;
  position: absolute;
  margin: -180px 0 0 -131px;
  left: 50%;
  top: 50%;
  text-align: center; }

.login-area input {
  border: none;
  font-family: 'Lato', sans-serif;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  height: 50px;
  width: 260px;
  font-size: 20px; }

.login-area img {
  width: 260px;
  margin-bottom: 10px; }

.login-links a {
  color: #63CEC2; }

#login-reg-submit-btn {
  background-color: #63CEC2;
  color: #F7F8F9;
  border: none;
  width: 260px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px; }

/*===========================================================================*/
/* Register
-----------------------------------------------------------------------------*/
.Register {
  font-family: 'Lato', sans-serif; }

.register-area {
  width: 260px;
  height: 540px;
  position: absolute;
  margin: -250px 0 0 -131px;
  left: 50%;
  top: 50%;
  text-align: center; }

.register-area input {
  border: none;
  font-family: 'Lato', sans-serif;
  width: 200px;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  height: 50px;
  width: 260px;
  font-size: 20px; }

.register-area img {
  width: 260px;
  margin-bottom: 10px; }

.register-password-tt {
  position: absolute;
  left: 222px;
  top: 424px; }

.register-password-tt img {
  width: 30px;
  color: white;
  background-color: white; }

/*===========================================================================*/
/* Stock
-----------------------------------------------------------------------------*/
.stock-titles {
  margin-top: 20px;
  margin-left: 70px; }

.Stock h1 {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #F7F8F9;
  display: inline-block; }

.stock-watchlist {
  color: #F7F8F9;
  display: inline-block; }

.stock-watchlist svg {
  position: relative;
  top: 2px;
  left: 4px; }

.Stock h2 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #63CEC2; }

.stock-chart {
  height: 400px; }

.stock-shares-owned {
  color: #F7F8F9;
  margin: 10px;
  font-size: 20px;
  float: left; }

.stock-chart-time-select button {
  padding: 5px;
  background-color: #F7F8F9;
  border: none;
  cursor: pointer; }

.stock-chart-time-select button:hover {
  background-color: #d6d7d8; }

.stock-buy-sell-btns {
  color: #F7F8F9;
  font-size: 20px;
  clear: both; }

.stock-buy-sell-btns {
  width: 562px;
  margin: 0 auto; }

.stock-btn {
  color: #F7F8F9;
  border: none;
  width: 179px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px; }

.stock-btn:active {
  color: #d6d7d8; }

#stock-buy-btn {
  background-color: #63CEC2; }

#stock-sell-btn {
  background-color: #ed4d0a; }

.stock-search {
  position: absolute;
  right: 0px;
  top: 0; }

#stock-search-input {
  margin: 20px;
  padding: 5px 10px;
  font-size: 14px;
  width: 150px;
  border: none; }

.stock-transaction-area {
  position: absolute;
  left: 800px;
  top: 30px;
  width: 179px; }

#transactionAmount {
  margin-bottom: 10px;
  font-size: 16px;
  padding: 5px;
  border: none; }

.trans-modal {
  background-color: #F7F8F9; }

.trans-modal-content {
  margin: 50px; }

.trans-modal-content input {
  display: block;
  font-size: 20px;
  padding: 5px;
  width: 210px;
  margin-bottom: 10px; }

.trans-modal-content button {
  color: #F7F8F9;
  border: none;
  width: 210px;
  height: 50px;
  padding: 10px;
  font-size: 20px; }

/*===========================================================================*/
/* Portfolio
-----------------------------------------------------------------------------*/
.Portfolio h1 {
  font-family: 'Lato', sans-serif;
  color: #F7F8F9; }

.Portfolio h2 {
  font-family: 'Lato', sans-serif;
  color: #63CEC2; }

.portfolio-content {
  margin-left: 60px;
  margin-bottom: 40px; }

.portfolio-content h1 {
  display: block;
  clear: both;
  padding: 0 10px; }

.portfolio-holding {
  margin-left: 30px; }

.portfolio-holding-title {
  display: inline-block;
  font-size: 34px;
  color: #63CEC2;
  width: 150px; }

.portfolio-holding-title a {
  color: #63CEC2;
  text-decoration: none; }

.portfolio-holding-amount {
  display: inline-block;
  font-size: 34px;
  color: #F7F8F9; }

/*===========================================================================*/
/* Graph
-----------------------------------------------------------------------------*/
.Graph {
  width: 700px;
  margin-top: 20px;
  margin-left: 70px; }

.stock-chart-time-select button {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background-color: #354854;
  color: #F7F8F9;
  text-decoration: underline; }

.stock-chart-time-select button:hover {
  background-color: #63CEC2; }

/*===========================================================================*/
/* CreatePortfolio
-----------------------------------------------------------------------------*/
#create-portfolio-btn {
  background-color: #63CEC2;
  margin: 0px; }

#create-portfolio-area {
  position: absolute;
  width: 262px;
  height: 52px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

#create-portfolio-area input {
  border: none;
  font-family: 'Lato', sans-serif;
  width: 200px;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  height: 50px;
  width: 260px;
  font-size: 20px; }

/*===========================================================================*/
/* CreateLeague
-----------------------------------------------------------------------------*/
.CreateLeague {
  font-family: 'Lato', sans-serif; }

.create-league-area {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

#create-league-area-1 {
  height: 500px; }

#create-league-area-2 {
  height: 280px; }

.create-league-area h1 {
  color: #F7F8F9;
  text-align: center;
  margin-bottom: 20px; }

.create-league-area label {
  color: #F7F8F9; }

.create-league-area input {
  padding: 10px;
  width: 300px;
  border: none;
  margin-bottom: 10px; }

.create-league-area button {
  margin-top: 10px;
  width: 300px;
  background-color: #63CEC2; }

#league-back {
  margin-top: 10px;
  background-color: #ed4d0a; }

/*===========================================================================*/

/*# sourceMappingURL=App.css.map */
