/* Colors
-----------------------------------------------------------------------------*/
$bg-color: #354854;
$white-color: #F7F8F9;
$active-color: #d6d7d8;
$green-color: #63CEC2;
$red-color: #ed4d0a;
/*===========================================================================*/

/* General
-----------------------------------------------------------------------------*/
body {
   background-color: $bg-color;
   font-family: 'Open Sans', sans-serif;
}
/*===========================================================================*/

/* Login
-----------------------------------------------------------------------------*/
.Login {
   font-family: 'Open Sans', sans-serif;
}

.login-area {
   width: 262px;
   height: 270px;
   position: absolute;
   margin: -180px 0 0 -131px;
   left: 50%;
   top: 50%;
   text-align: center;
}

.login-area input {
   font-family: 'Open Sans', sans-serif;
   width: 200px;
   display: block;
   padding: 5px;
   margin-bottom: 10px;
   height: 50px;
   width: 260px;
   font-size: 20px;
}

.login-area img {
   width: 260px;
   margin-bottom: 10px;
}

.login-links a {
   color: $green-color;
}

#submit-btn {
   background-color: $green-color;
   color: $white-color;
   border: none;
}
/*===========================================================================*/

/* Register
-----------------------------------------------------------------------------*/
.Register {
   font-family: 'Open Sans', sans-serif;
}

.register-area {
   width: 262px;
   height: 540px;
   position: absolute;
   margin: -250px 0 0 -131px;
   left: 50%;
   top: 50%;
   text-align: center;
}

.register-area input {
   font-family: 'Open Sans', sans-serif;
   width: 200px;
   display: block;
   padding: 5px;
   margin-bottom: 10px;
   height: 50px;
   width: 260px;
   font-size: 20px;
}

.register-area img {
   width: 260px;
   margin-bottom: 10px;
}

.register-password-tt {
   position: absolute;
   left: 222px;
   top: 424px;
}

.register-password-tt img {
   width: 30px;
   color: white;
   background-color: white;
}
/*===========================================================================*/

/* Stock
-----------------------------------------------------------------------------*/
.Stock h1 {
   font-family: 'Open Sans', sans-serif;
   color: $white-color;
   width: 90px;
   margin: 0 auto;
}

.stock-chart {
   height: 400px;
}

.stock-shares-owned {
   color: $white-color;
   margin: 10px;
   font-size: 20px;
   float: left;
}

.stock-chart-time-select {
   float: right;
   margin: 10px;
}

.stock-chart-time-select button {
   padding: 5px;
   background-color: $white-color;
   border: none;
   cursor: pointer;
}

.stock-chart-time-select button:hover {
   background-color: $active-color;
}

.stock-buy-sell-btns {
   color: $white-color;
   font-size: 20px;
   clear: both;
}

.stock-buy-sell-btns {
   width: 545px;
   margin: 0 auto;
}

.stock-btn {
   color: $white-color;
   border: none;
   font-size: 25px;
   margin: 10px;
   width: 250px;
   padding: 10px;
   cursor: pointer;
}

.stock-btn:active {
   color: $active-color;
}

#stock-buy-btn {
   background-color: $green-color;
}

#stock-sell-btn {
   background-color: $red-color;
}
/*===========================================================================*/
































