/* Colors
-----------------------------------------------------------------------------*/
/*===========================================================================*/
/* General
-----------------------------------------------------------------------------*/
body {
  background-color: #354854;
  font-family: 'Open Sans', sans-serif; }

/*===========================================================================*/
/* Login
-----------------------------------------------------------------------------*/
.Login {
  font-family: 'Open Sans', sans-serif; }

.login-area {
  width: 262px;
  height: 270px;
  position: absolute;
  margin: -180px 0 0 -131px;
  left: 50%;
  top: 50%;
  text-align: center; }

.login-area input {
  font-family: 'Open Sans', sans-serif;
  width: 200px;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  height: 50px;
  width: 260px;
  font-size: 20px; }

.login-area img {
  width: 260px;
  margin-bottom: 10px; }

.login-links a {
  color: #63CEC2; }

#submit-btn {
  background-color: #63CEC2;
  color: #F7F8F9;
  border: none; }

/*===========================================================================*/
/* Register
-----------------------------------------------------------------------------*/
.Register {
  font-family: 'Open Sans', sans-serif; }

.register-area {
  width: 262px;
  height: 540px;
  position: absolute;
  margin: -250px 0 0 -131px;
  left: 50%;
  top: 50%;
  text-align: center; }

.register-area input {
  font-family: 'Open Sans', sans-serif;
  width: 200px;
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  height: 50px;
  width: 260px;
  font-size: 20px; }

.register-area img {
  width: 260px;
  margin-bottom: 10px; }

.register-password-tt {
  position: absolute;
  left: 222px;
  top: 424px; }

.register-password-tt img {
  width: 30px;
  color: white;
  background-color: white; }

/*===========================================================================*/
/* Stock
-----------------------------------------------------------------------------*/
.Stock h1 {
  font-family: 'Open Sans', sans-serif;
  color: #F7F8F9;
  width: 90px;
  margin: 0 auto; }

.stock-chart {
  height: 400px; }

.stock-shares-owned {
  color: #F7F8F9;
  margin: 10px;
  font-size: 20px;
  float: left; }

.stock-chart-time-select {
  float: right;
  margin: 10px; }

.stock-chart-time-select button {
  padding: 5px;
  background-color: #F7F8F9;
  border: none;
  cursor: pointer; }

.stock-chart-time-select button:hover {
  background-color: #d6d7d8; }

.stock-buy-sell-btns {
  color: #F7F8F9;
  font-size: 20px;
  clear: both; }

.stock-buy-sell-btns {
  width: 545px;
  margin: 0 auto; }

.stock-btn {
  color: #F7F8F9;
  border: none;
  font-size: 25px;
  margin: 10px;
  width: 250px;
  padding: 10px;
  cursor: pointer; }

.stock-btn:active {
  color: #d6d7d8; }

#stock-buy-btn {
  background-color: #63CEC2; }

#stock-sell-btn {
  background-color: #ed4d0a; }

/*===========================================================================*/

/*# sourceMappingURL=App.css.map */
