/* Colors
-----------------------------------------------------------------------------*/
$bg-color: #354854;
$white-color: #F7F8F9;
$active-color: #d6d7d8;
$green-color: #63CEC2;
$red-color: #ed4d0a;
/*===========================================================================*/

/* General
-----------------------------------------------------------------------------*/
* {
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}

body {
   background-color: $bg-color;
   font-family: 'Open Sans', sans-serif;
}
/*===========================================================================*/

/* Login
-----------------------------------------------------------------------------*/
.Login {
   font-family: 'Open Sans', sans-serif;
}

.login-area {
   width: 262px;
   height: 270px;
   position: absolute;
   margin: -180px 0 0 -131px;
   left: 50%;
   top: 50%;
   text-align: center;
}

.login-area input {
   border: none;
   font-family: 'Open Sans', sans-serif;
   display: block;
   padding: 10px;
   margin-bottom: 10px;
   height: 50px;
   width: 260px;
   font-size: 20px;
}

.login-area img {
   width: 260px;
   margin-bottom: 10px;
}

.login-links a {
   color: $green-color;
}

#login-reg-submit-btn {
   background-color: $green-color;
   color: $white-color;
   border: none;
   width: 260px;
   height: 50px;
   padding: 10px;
   font-size: 20px;
   margin-bottom: 10px;
}

.submit-btn {
   cursor: pointer;
   transition: all 0.5s;
}

.submit-btn span {
   position: relative;
   transition: 0.5s;
}

.submit-btn span:after {
   content: '\00bb';
   position: absolute;
   opacity: 0;
   top: -2px;
   right: -20px;
   transition: 0.5s;
}

.submit-btn:hover span {
   padding-right: 15px;
}

.submit-btn:hover span:after {
   opacity: 1;
   right: 0;
}

/*===========================================================================*/

/* Register
-----------------------------------------------------------------------------*/
.Register {
   font-family: 'Open Sans', sans-serif;
}

.register-area {
   width: 262px;
   height: 540px;
   position: absolute;
   margin: -250px 0 0 -131px;
   left: 50%;
   top: 50%;
   text-align: center;
}

.register-area input {
   font-family: 'Open Sans', sans-serif;
   width: 200px;
   display: block;
   padding: 5px;
   margin-bottom: 10px;
   height: 50px;
   width: 260px;
   font-size: 20px;
}

.register-area img {
   width: 260px;
   margin-bottom: 10px;
}

.register-password-tt {
   position: absolute;
   left: 222px;
   top: 424px;
}

.register-password-tt img {
   width: 30px;
   color: white;
   background-color: white;
}
/*===========================================================================*/

/* Stock
-----------------------------------------------------------------------------*/
.stock-titles {
   margin-top: 10px;
   text-align: center;
}

.Stock h1 {
   font-family: 'Open Sans', sans-serif;
   color: $white-color;
}

.Stock h2 {
   font-family: 'Open Sans', sans-serif;
   color: $green-color;
}

.stock-chart {
   height: 400px;
}

.stock-shares-owned {
   color: $white-color;
   margin: 10px;
   font-size: 20px;
   float: left;
}

.stock-chart-time-select {
   float: right;
   margin: 10px;
}

.stock-chart-time-select button {
   padding: 5px;
   background-color: $white-color;
   border: none;
   cursor: pointer;
}

.stock-chart-time-select button:hover {
   background-color: $active-color;
}

.stock-buy-sell-btns {
   color: $white-color;
   font-size: 20px;
   clear: both;
}

.stock-buy-sell-btns {
   width: 562px;
   margin: 0 auto;
}

.stock-btn {
   color: $white-color;
   border: none;
   width: 260px;
   height: 50px;
   padding: 10px;
   font-size: 20px;
   cursor: pointer;
   margin: 10px;
}

.stock-btn:active {
   color: $active-color;
}

#stock-buy-btn {
   background-color: $green-color;
}

#stock-sell-btn {
   background-color: $red-color;
}

.stock-search {
   position: absolute;
   right: 0;
   top: 0;
}

#stock-search-input {
   margin: 20px;
   padding: 5px 10px;
   font-size: 20px;
   width: 150px;
}

.trans-modal {
   background-color: $white-color;
}

.trans-modal-content {
   margin: 50px;
}

.trans-modal-content input {
   display: block;
   font-size: 20px;
   padding: 5px;
   width: 210px;
   margin-bottom: 10px;
}

.trans-modal-content button {
   color: $white-color;
   border: none;
   width: 210px;
   height: 50px;
   padding: 10px;
   font-size: 20px;
}

.buy-btn {
   background-color: $green-color;
}

.sell-btn {
   background-color: $red-color;
}
/*===========================================================================*/

/* Stock
-----------------------------------------------------------------------------*/
.Profile h1 {
   font-family: 'Open Sans', sans-serif;
   color: $white-color;
}

.Profile h2 {
   font-family: 'Open Sans', sans-serif;
   color: $green-color;
}

.profile-content h1 {
   display: block;
   clear: both;
   padding: 0 10px;
}
/*===========================================================================*/
