.transaction-modal-content {
	padding: 30px;
	width: 200px;
}

.transaction-modal-content h1 {
	font-weight: normal;
	text-align: center;
	font-size: 32px;
}

.transaction-modal-content h2 {
	font-weight: normal;
	text-align: center;
	font-size: 16px;
}

.transaction-info {
	margin-bottom: 20px;
}

.transaction-modal-content input {
	margin-bottom: 20px;
	width: 120px;
	font-size: 18px;
	padding: 10px;
	border-radius: 4px;
	border: solid #cccccc 1px;
}

.transaction-form {
	width: 142px;
	margin: 0 auto;
}

.transaction-type-select {
	width: 142px;
	margin-bottom: 10px;
	font-size: 18px;
}