/* Colors
-----------------------------------------------------------------------------*/
/*===========================================================================*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif; }

body {
  background-color: #212121;
  height: 100%; }

.Listing {
  font-family: 'Assistant';
  color: #f7f8f9;
  width: 400px; }

.listing-title {
  font-size: 20px;
  color: #3ee7ad;
  padding: 5px; }

.listing-items {
  padding: 0 20px; }

.listing-item {
  height: 40px;
  position: relative;
  margin-bottom: 10px; }

.listing-item-title {
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 0; }

.listing-item-desc {
  font-size: 10px;
  color: #afafaf;
  position: absolute;
  top: 20px;
  left: 0; }

.listing-item-price-info {
  position: absolute;
  top: 0;
  right: 0; }

.listing-item-price {
  font-size: 18px;
  display: inline-block;
  margin-right: 3px; }

.listing-item-price-change {
  font-size: 18px;
  display: inline-block; }

.listing-item-amount {
  font-size: 10px;
  color: #afafaf;
  position: absolute;
  top: 20px;
  right: 0; }

.listing-up-color {
  color: #6fda42; }

.listing-down-color {
  color: #ff413b; }
