/* Colors
-----------------------------------------------------------------------------*/
/*===========================================================================*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Assistant', sans-serif; }

body {
  background-color: #212121;
  height: 100%; }

.Button button {
  background-color: #3ee7ad;
  border: none;
  font-family: 'Assistant';
  font-size: 20px;
  padding: 10px 0px;
  color: #f7f8f9;
  border-radius: 3px;
  cursor: pointer; }

.Button button:hover {
  background-color: #18c187; }
