.Portfolio {
}

.Graph { 
   margin: 0 auto;
   margin-top: 20px;
}

.portfolio-listing-news-area {
   width: 800px;
   margin: 0 auto;
   background-color: orange;
}

.portfolio-listing-area {
   width: 50%;
   float: left;
}

.portfolio-news-area {
   width: 50%;
   float: left;
}
