@import '../../global-css/Global.scss';

body, html {
   max-width: 100%;
   overflow-x: hidden;
}

.Graph { 
   margin: 0 auto;
   margin-top: 20px;
}

.portfolio-listing-news-area {
   width: 800px;
   margin: 0 auto;
   background-color: orange;
   margin-top: 20px;
}

.portfolio-listing-area {
   width: 50%;
   float: left;
}

.portfolio-news-area {
   width: 50%;
   float: left;
}

.News {
   padding-left: 20px;
}

.portfolio-circle {
   height: 1000px;
   width: 3000px;
   border-radius: 50%;
   background-color: $primary-color;
   position: absolute;
   z-index: -1;
   top: -520px;
   left: -1300px;
}

