@import '../../global-css/Global.scss';

.News {
   color: $primary-color;
   width: 400px;
}

.News h1 h2 {
   font-family: 'Assistant', sans-serif;
}

.News h1 {
   font-weight: normal;
   font-size: 20px;
   margin-bottom: 8px;
}

.News h2 {
   color: $white-color;
   font-weight: normal;
   font-size: 16px;
   margin-bottom: 20px;
   width: 400px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.News h2:hover {
   color: $primary-color;
   text-decoration: underline;
   cursor: pointer;
}
