@import '../../global-css/Global.scss';

.Navbar {
   height: 60px;
   background-color: $bg-color;
   box-shadow: 0px 3px 10px #000;
}

.navbar-sidebar-menu-btn {
   height: 36px;
   width: 36px;
   position: absolute;
   top: 12px;
   left: 10px;
   cursor: pointer;
}

.navbar-portfolio-dropdown {
   position: absolute;
   margin: 0 auto;
   width: 160px;
   top: 10px;
   left: 50%;
   margin-left: -80px;
   background-color: #302f2f;
   color: $white-color;
   text-align: center;
   cursor: pointer;
}

.navbar-portfolio-dropdown-btn {
   padding: 10px 0;
}

.navbar-portfolio-dropdown-content {
   background-color: $bg-color;
   position: absolute;
   top: 40px;
   width: 160px;
   text-align: center;
   box-shadow: 0px 8px 16px 0px #000;
   cursor: pointer;
}

.navbar-portfolio-dropdown-content p {
   padding: 12px 6px;
}

.navbar-portfolio-dropdown-content p:hover {
   color: $primary-color;
}

.navbar-sidebar-points {
   position: absolute;
   right: 60px;
   top: 10px;
   height: 40px;
   color: "#fff";
}

.navbar-sidebar-points-circle {
   position: relative;
   top: 10px;
   margin-right: 5px;
   display: inline-block;
}

.navbar-sidebar-points p {
   position: relative;
   color: #fff;
   display: inline-block;
   margin-bottom: 20px;
   top: 7px;
}

.navbar-sidebar-profile {
   position: absolute;
   right: 18px;
   top: 20px;
   cursor: pointer;
}

@media only screen and (max-width: 400px) {
   .navbar-sidebar-points {
      display: none;
   }

   .navbar-sidebar-profile {
      display: none;
   }

   .navbar-portfolio-dropdown {
      left: 60px;
      margin: 0px;
      
   }
}